@font-face {
    font-family: 'exo2thin';
    src: url('fonts/exo2thin.eot');
    src: url('fonts/exo2thin.eot') format('embedded-opentype'),
         url('fonts/exo2thin.woff2') format('woff2'),
         url('fonts/exo2thin.woff') format('woff'),
         url('fonts/exo2thin.ttf') format('truetype'),
         url('fonts/exo2thin.svg#exo2thin') format('svg');
}

.battleButton {
    background-color: rgba(189, 0, 0, 0.733);
    border: none;
    color: white;
    padding: 5px 1px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 6px;
}

.levelUpButton {
    background-color:rgba(90, 150, 0, 0.651);
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 8px;
}

.shopButton {
    background-color:rgba(255, 153, 0, 0.897);
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 8px;
}

.itemButton {
    background-color:rgb(0, 112, 156);
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 8px;
}
body {
    background-color: lightgray;
    font-size: 4vw
}
h1 {
    color: darkblue;
    text-align: centre;
    font-family: exo2thin;
    font-size: 7vw
}

h2 {
    font-size: 6vw
}

h3 {
    font-size: 5vw
}

p {
    text-align: centre;
    font-size: 4vw
}